{% extends "base/base.html" %}
{% block titulo %}
  <title>Control Romana</title>
{% endblock %}
{% block contenido %}
  <div class="col-sm-10">
    </br>
    <div class="col-sm-12"> 
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#Cliente">CLIENTE</a></li>
      <li><a data-toggle="tab" href="#cancelar">CANCELAR PROCESO</a></li>
    </ul>
    <div class="tab-content">
      <div id="Cliente" class="tab-pane fade in active">
        {% from "base/macro.html" import render_field %}
        <form class="form-group" method="POST">
          <div class="col-sm-4">
            <h3>Datos del Conductor</h3>
              {% for row in row %}
            <div class="form-group">
              {{ render_field(form.cedula, class ="form-control",placeholder="Nombre y Apellido", readonly = readonly, value = row[2]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.nombre_apellido, class ="form-control", placeholder="Cedula del conductor", readonly = readonly, value = row[1]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.telefono, class ="form-control", placeholder="Numero Telefonico", readonly = readonly,value = row [3] )}}
            </div>
            <div class="form-group">
              {{ render_field(form.empresa, class ="form-control", placeholder="Empresa", readonly = readonly, value = row[4]) }}
            </div>
          </div>
          <div class="col-sm-4">
            <h3>Datos del Vehiculo</h3>
            <div class="form-group">
              {{ render_field(form.placa, class="form-control", placeholder="Placa del vehiculo", readonly = readonly, value = row[8]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.marca, class="form-control", placeholder="Marca del vehiculo", readonly = readonly,value = row [5]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.modelo, class ="form-control", placeholder="Modelo del Vehiculo", readonly = readonly, value = row[6]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.clasificacion, class="form-control", placeholder="Tipo de vehiculo", readonly = readonly, value = row[7]) }}
            </div>
          </div>
          <div class="col-sm-4">
            <h3>Titulo</h3>
            <div class="form-group">
              {{ render_field(form.num_transporte, class="form-control", placeholder="Modelo del Vehiculo...", readonly = readonly, value = row[0]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.peso_transporte, class="form-control", placeholder="Peso Guia", readonly = readonly, value = row[11]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.motivo, class="form-control", placeholder="Motivo visita...", readonly = readonly, value = row[9]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.fecha, class="form-control", readonly = readonly, value = row[10]) }}
            </div>
          </div>
            <div class="row">
              <div class="col-sm-3">
                <a href="vigilancia-lista" class="btn btn-default" role="button"><i class="fa fa-chevron-left"></i> Regresar</a>
              </div>
              <div class="col-sm-5">
              </div>
              <div class="col-sm-4">
              </div>
            </div>
        </div>
        <div id="cancelar" class="tab-pane fade">          
          <div class="col-sm-12">
            </br>
            <div class="row">
              <div class="col-sm-3">

              </div>
              <div class="col-sm-5">
                <div class="form-group">
                {{ render_field(form2.fecha_reporte, class="form-control", readonly = readonly, value = date) }}
                {{ render_field(form2.motivo_cancelar, class="form-control") }}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="submit" value="ENVIAR" class="btn btn-success btn-block">
                <a href="vigilancia-lista" class="btn btn-default btn-block" role="button"><i class="fa fa-chevron-left"></i> Regresar</a>
                </div>
              </div>
              <div class="col-sm-4">

              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">

              </div>
              <div class="col-sm-4">

              </div>
              <div class="col-sm-4">

              </div>
            </div>
          {% endfor %}
          </div>
        </form>
    </div>
  </div>
{% endblock %}