{% extends "base/base.html" %}
{% block titulo %}
  <title>Configuración</title>
{% endblock %}
{% block contenido %}
<div class="col-sm-10">
	<h3>Configuración de la Plataforma</h3>
	<div class="list-group">
		<a href="cambio-clave" class="list-group-item">Gestión de Usuario</a>
    	<a href="registro" class="list-group-item">Crear Usuario</a>
    	<a href="lista-usuarios" class="list-group-item">Lista de Usuarios</a>
    	<a href="#" class="list-group-item disabled">Configuracion de Módulos RFID</a>
	</div>
</div>
{% endblock %}