{% extends "base/base.html" %}
{% block titulo %}
  <title></title>
{% endblock %}
{% block contenido %}
  <div class="col-sm-10">
        {% from "base/macro.html" import render_field %}
        <form class="form-group" method="POST">
          <h3>Registro de Coordinador</h3>
          <div class="col-sm-4">
            <div class="form-group">
              {{ render_field(form.cedula, class ="form-control", placeholder="Cédula del coordinador", value = coordinador[0]) }}

            </div>
            <div class="form-group">
              {{ render_field(form.nombre_apellido, class ="form-control",placeholder="Nombre y Apellido", value = coordinador[1]) }}
            </div>
          </div>
          <div class="col-sm-4">
             <div class="form-group">
              {{ render_field(form.telefono, class ="form-control", placeholder="Número teléfonico", value = coordinador[2]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.transporte, class ="form-control", placeholder="Tranporte", value = coordinador[3]) }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              {{ render_field(form.direccion, class="form-control", placeholder="Dirección de habitacion", value = coordinador[4]) }}
            </div>
            </br>
            </br>
            </br>
            </br>
          </div>
          <div class="col-sm-4">
            <a href="gestion-transporte" class="btn btn-default" role="button"><i class="fa fa-chevron-left"></i> Regresar</a>
          </div>
          <div class="col-sm-4">
            <a href="/coordinador-delete-{{ ci }}" class="btn btn-danger btn-block" role="button">ELIMINAR REGISTRO</a>
          </div>
          <div class="col-sm-4">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="REGISTRAR" class="btn btn-success btn-block">
          </div>
        </form>
  </div>
{% endblock %}