{% extends "base/base.html" %}
{% block titulo %}
  <title>Configuracion</title>
{% endblock %}
{% block contenido %}
<div class="col-sm-10">
	<h3>Gestión y Registro de Transportistas</h3>
	<div class="list-group">
		<a href="lista-transportes" class="list-group-item">Lista de Transportes</a>
    	<a href="registro-conductor" class="list-group-item">Registro de Conductor</a>
    	<a href="registro-vehiculo" class="list-group-item">Registro de Vehículo</a>
    	<a href="registro-coordinador" class="list-group-item">Registro de Coordinador y acompañantes</a>
	</div>
</div>
{% endblock %}