{% extends "base/base.html" %}
{% block titulo %}
  <title>Registro de usuario</title>
{% endblock %}
{% block contenido %}
<div class="col-sm-10">
  <div class="bocol-sm-2 well" style="border-radius: 5px;background-color: #f2f2f2;">
    <h3 style="text-align: center;">FORMULARIO DE REGISTRO:</h3>
    {% from "base/macro.html" import render_field %}
    <form class="form-group" id= "RegistroForm" method="POST">
      <div class="row">
        <div class="col-sm-6 form-outline">
          <div class="input-container">
            <i class="fa fa-user icon"></i>
            {{ render_field(form.nombre, class ="form-control",placeholder="Nombre de usuario") }}
            {{ render_field(form.apellido, class ="form-control",placeholder="Apellido de usuario") }}
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            {{ render_field(form.email, class ="form-control",placeholder="Ingrese su correo electrónico") }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="input-container">
            <i class="fa fa-address-card icon"></i>
            {{ render_field(form.nacionalidad, class ="") }}
            {{ render_field(form.cedula, class ="form-control",placeholder="Ingrese su número de cédula") }}
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <div class="input-container">
            <i class="fa fa-hashtag icon"></i>
            {{ render_field(form.ficha, class ="form-control",placeholder="Ingrese su número de ficha") }}
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-sm-6 form-group">
        <div class="input-container">
        <i class="fa fa-key icon"></i>
        {{ render_field(form.password, class ="form-control",placeholder="Ingrese su contraseña") }}
        {{ render_field(form.password_repetir, class ="form-control",placeholder="Repita su contraseña") }}
      </div>
      </div>
      <div class="col-sm-6 form-group">
              <div class="input-container">
        <i class="fa fa-universal-access icon"></i>
        {{ render_field(form.area_asignada, class ="form-control",placeholder="Ingrese su número de cedula") }}
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-9 form-group">
        <a href="configuracion" class="btn btn-default" role="button"><i class="fa fa-chevron-left"></i> Regresar</a>
      </div>
      <div class="col-sm-3 form-group">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="REGISTRAR USUARIO" class="btn btn-success btn-block">
      </div>
    </form>
  </div>
</div>
{% endblock %}