{% extends "base/base.html" %}
{% block titulo %}
  <title>Control Romana</title>
{% endblock %}
{% block contenido %}
  <div class="col-sm-10">
      <h2>Preingreso de Vehículos</h2>
        {% from "base/macro.html" import render_field %}
        <form class="form-group" method="POST">
          <div class="col-sm-4">
            <h3>Datos del Conductor</h3>
            <div class="form-group">
              {{ render_field(form.cedula, class ="form-control", placeholder="Cedula del conductor", disabled= disabled, value =  conductor [0] )}}
            </div>
            <div class="form-group">
              {{ render_field(form.nombre_apellido, class ="form-control",placeholder="Nombre y Apellido", disabled= disabled, value = conductor [1])}}
            </div>

            <div class="form-group">
              {{ render_field(form.telefono, class ="form-control", placeholder="Numero Telefonico", disabled= disabled,value = conductor [2] )}}
            </div>
            <div class="form-group">
              {{ render_field(form.empresa, class ="form-control", placeholder="Empresa", disabled= disabled,value = conductor [3])}}
            </div>
            
            
          </div>
          <div class="col-sm-4">
            <h3>Datos del Vehiculo</h3>
            <div class="form-group">
              {{ render_field(form.placa, class="form-control", placeholder="Placa del vehiculo", disabled= disabled,value = vehiculos [0]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.marca, class="form-control", placeholder="Marca del vehiculo", disabled= disabled,value = vehiculos [1]) }}
            </div>
             <div class="form-group">
              {{ render_field(form.modelo, class ="form-control", placeholder="Modelo del Vehiculo", disabled= disabled,value = vehiculos [2]) }}
            </div>
            <div class="form-group">
              {{ render_field(form.clasificacion, class="form-control", placeholder="Tipo de vehiculo", disabled= disabled,value = vehiculos [3]) }}
            </div>
          </div>
          <div class="col-sm-4">
            <h3>Datos Ingreso</h3>
            <div class="form-group">
              {{ render_field(form.motivo, class="form-control", placeholder="Motivo visita...") }}
            </div>
            <div class="form-group">
              {{ render_field(form.num_transporte, class="form-control", placeholder="123456") }}
            </div>
            <div class="form-group">
              {{ render_field(form.peso_transporte, class="form-control", placeholder="Ejemplo: 100.00") }}
            </div>
            <div class="form-group">
              {{ render_field(form.fecha, class="form-control", placeholder="Tipo de vehículo...") }}
            </div>
          </div>
          <div class="col-sm-4">
            <a href="preingreso-{{ conductor[0] }}" class="btn btn-default btn-block" role="button"><i class="fa fa-chevron-left"></i> Regresar</a>
          </div>
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="ENVIAR" class="btn btn-success btn-block">
          </div>
        </form>
  </div>
{% endblock %}