{% extends "base/base.html" %}
{% block titulo %}
  <title>Control Romana</title>
{% endblock %}
{% block contenido %}
  <div class="col-sm-10">
        <h2>Preingreso de Vehículos</h2>
        {% from "base/macro.html" import render_field %}
        <form class="form-group" method="POST">
          <div class="col-sm-4">
            <h3>Datos del Conductor</h3>
            <div class="form-group">
              <label for="cedula">Cédula: </label> 
              <div class="dropdown">
                <button class="btn btn-default  btn-block dropdown-toggle" type="button" data-toggle="dropdown">Número de Cedula
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <input class="form-control" id="myInput" type="text" placeholder="Search..">
                {% for row in conductores %}
                  <li><a href="preingreso-{{ row[0] }}">{{ row[0] }}-{{ row[1] }}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
            <div class="form-group">  
              <label for="nombre_apellido">Nombre y Apellido: </label> 
              <input class="form-control" id="nombre_apellido" name="nombre_apellido" placeholder="Nombre y Apellido" type="text" value="" disabled>
            </div>
            <div class="form-group">  
              <label for="telefono">Teléfono: </label> 
              <input class="form-control" id="telefono" name="telefono" placeholder="Número Teléfonico" type="text" value="" disabled>
            </div>
            <div class="form-group">  
              <label for="empresa">Empresa: </label> 
              <input class="form-control" id="empresa" name="empresa" placeholder="Empresa" type="text" value="" disabled>
            </div>
            <a href="preingreso-tipo" class="btn btn-default btn-block" role="button">Lista de pase</a>
          </div>
          <div class="col-sm-4">
            <h3>Datos del Vehículo</h3>
            <div class="form-group">
              <label for="placa">Placa: </label>
              <input class="form-control" id="placa" name="placa" placeholder="Placa del vehículo" type="text" value="" disabled>
            </div>
            <div class="form-group">
              <label for="marca">Marca: </label> 
              <input class="form-control" id="marca" name="marca" placeholder="Marca del vehículo" type="text" value="" disabled>
            </div>
             <div class="form-group">              
                <label for="modelo">Modelo: </label> 
                <input class="form-control" id="modelo" name="modelo" placeholder="Modelo del Vehículo" type="text" value="" disabled>
              </div>
            <div class="form-group">
              <label for="clasificacion">Clasificación: </label>
              <input class="form-control" id="clasificacion" name="clasificacion" placeholder="Tipo de Vehículo" type="text" value="" disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <h3>Datos Ingreso</h3>
            <div class="form-group">
              <label for="num_guia">Número de Transporte: </label> 
              <input class="form-control" id="num_guia" name="num_guia" placeholder="Numero de Guía" type="text" value="" disabled>
            </div>
            <div class="form-group">
              <label for="peso_guia">Peso Transporte (Kg): </label> 
              <input class="form-control" id="peso_guia" name="peso_guia" placeholder="Peso Guía" type="text" value="" disabled>
            </div>
            <div class="form-group">
              <label for="fecha">Fecha de Ingreso</label>
              <input class="form-control" id="fecha" name="fecha" placeholder="Tipo de vehiculo..." type="date" value="" disabled>
            </div>
            <div class="form-group">
              <label for="motivo">Motivo de Visita: </label> 
              <select class="form-control" id="motivo" name="motivo" placeholder="Motivo visita..." disabled><option value="Retiro Producto">Retiro Producto</option><option value="Devolucion">Devolución</option><option value="Retiro y devolucion">Retiro y devolución</option><option value="Mantenimiento">Mantenimiento</option></select>
            </div>
          </div>
        </form>
  </div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}