<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <style>
  *   {
    box-sizing: border-box;
    }

    .box {
      float: left;
      width: 33.33%;
      padding: 50px;
    }

    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    table, td, th {  
      border: 1px solid #ddd;
      text-align: center;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 15px;
    }
  </style>
</head>
<body>
<div class="clearfix">
    <h2>REPORTES</h2>
  <h4>CONTROL PLANTA COMPUESTO</h4>
  <table style="width:100%">
    <tr>
      <th>Nº Pase</th>
      <th>Vehiculo Placa</th>
      <th>Vehiculo Modelo</th>
      <th>Vehiculo Tipo</th>
      <th>Nombre Chofer</th>
      <th>Inicio Carga</th>
      <th>Final Carga</th>
      <th>Desecho Material</th>
      <th>Responsable</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
</body>
</html>
