{% extends "base/base.html" %}
{% block titulo %}
  <title>Control Romana</title>
{% endblock %}
{% block contenido %}
  <div class="col-sm-10">
    <div class="tab-content">
      <div id="pesaje" class="tab-pane fade in active">
        <div class="col-sm-4">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Nombre: </strong></div>
              <div class="panel-body"><p class ="text-center">Jonathan Gonzalez</p></div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Código:</strong></div>
              <div class="panel-body"><p class ="text-center">CRPD031552</p></div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Área: </strong></div>
              <div class="panel-body"><p class ="text-center">Distribucion</p></div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Capacidad: </strong></div>
              <div class="panel-body"><p class ="text-center">1500 KG</p></div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Peso Guía: </strong></div>
              <div class="panel-body"><p class ="text-center">650 KG</p></div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 container">
          <h1 class="text-right"><strong>PESO:</strong></h1>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2 class ="text-center">0.00  <strong>Kg</strong></h2>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-6">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="text-center"><strong>Tara:</strong></h3>
                </div>
                <div class="panel-body">
                  <h3 class="text-right">5200.0  <strong>Kg</strong></h3>
                </div>
                <div class="panel-body">
                  <h4 class="text-left"><strong>Hora:</strong>10:32:23</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="text-center"><strong>Bruto:</strong></h3>
                </div>
                <div class="panel-body">
                  <h3 class="text-right">0.0  <strong>Kg</strong></h3>
                </div>
                <div class="panel-body">
                  <h4 class="text-left"><strong>Hora:</strong>11:13:12</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="text-center"><strong>Peso Neto:</strong></h2>
                </div>
                <div class="panel-body">
                  <h2 class="text-center">0.00  <strong>Kg</strong></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}